.contc {
  /* Estilos para el contenedor */
  margin-top: 60px;
  width: 300px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(89, 39, 238, 0.8), transparent);
  color: #fff;
  border: none;
  position: fixed;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fuente';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contc div {
  /* Estilos para los elementos div que contienen los inputs y labels */
  margin-bottom: 5px;
  /* Espaciado vertical entre los elementos div que contienen los inputs y labels */
  display: flex;
  align-items: center;
}

.contc label {
 
  min-width: 100px;
  /* Establecer un ancho mínimo para los labels */
  margin-right: 10px;
  /* Espaciado derecho entre el label y el input */
}

.contc input {
  /* Estilos para los inputs */
  background-image: linear-gradient(to bottom, black, #333);
  /* Degradado vertical de negro a gris oscuro */
  color: rgb(83, 80, 80);
  /* Color del texto en blanco para que sea visible */
  width: 200px;
  /* Establece un ancho fijo para los inputs */
  /* Agrega aquí cualquier otro estilo específico que desees para los inputs */
}

.ch1 {

  margin-bottom: 50px;
  /* Ajusta el valor para separar el título de los inputs */
}

@font-face {
  font-family: 'Fuente2';
  src: url('../../Fuentes/JMH Robotus.ttf');
}

/* Estilos para los inputs */
.contc input[type="text"],
.contc input[type="number"],
.contc select {
  margin-bottom: 5px;
  font-family: 'Fuente2';
  /* Ajusta el valor para separar los inputs */
}

  
.videobackground{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  /* Ajusta la altura según tus necesidades */
  background-color: #000000;
}

.logo {
  width: 450px;
  display: block;
  margin: 0 auto;
  position: relative;
  /* Asegura que el logo esté por encima del fondo negro */
}

/* Estilos para el botón "Back" */
.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: -90%;
  font-size: 70px;
  color: #333;
  margin-top: -60px;
}

/* Estilo para el texto normal (gris) */
.backButton a {
  position: relative;
  font-family: 'Fuente', sans-serif;
  color: #5b5959;
  /* Color de texto gris */
  text-decoration: none;
  z-index: 2;
}

/* Estilo para el texto con glow */
.backButtonGlow {
  position: absolute;
  top: -10px;
  /* Ajusta la posición vertical deseada */
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: radial-gradient(circle, rgba(255, 255, 255, 1.6), transparent);
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.backButton:hover .backButtonGlow {
  animation: electric-glow 0.5s forwards;
  /* Cambiamos a 'forwards' para mantener la última animación */
}

/* Definición de la animación */
@keyframes electric-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }

  30% {
    opacity: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }

  100% {
    opacity: 10%;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

/* Estilos durante el hover */
.backButton:hover a {
  color: #fff;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/* Estilos para el botón "CREATE POKEMON" */
.buttonc {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  color: #333;
  background: none;
  /* Eliminar el fondo blanco */
  border: none;
  /* Eliminar el borde */
  cursor: pointer;
  font-family: 'Fuente', sans-serif;
  transition: color 0.3s ease-in-out;
  /* Transición para el cambio de color del texto */
  transform: translate(-50%, -50%);
  /* Centrar el botón horizontal y verticalmente */
  margin-top: 300px;
  /* Ajustar el margen para centrar verticalmente */
}
/* Estilo para el texto con glow */
.buttonc::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: radial-gradient(circle, rgba(255, 255, 255, 1.6), transparent);
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.buttonc:hover::before {
  animation: electric-glow 0.5s forwards;
}

/* Definición de la animación */
@keyframes electric-glow {
  0% {
    opacity: 1;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }

  30% {
    opacity: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }

  100% {
    opacity: 10%;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

/* Estilos durante el hover */
.buttonc:hover {
  color: #fff;
  /* Cambiar el color del texto a blanco */
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  /* Agregar el efecto de glow al texto */
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el <p> */
.columnContainer p {
  font-size: 24px;
  color: #333;
  /* Otros estilos que desees para el texto */
}

/* Estilos para el botón */
.columnContainer button {
  margin-top: 10px;
  /* Espacio entre el <p> y el botón */
  font-size: 16px;
  color: #fff;
  background-color: #7405f4;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  /* Otros estilos que desees para el botón */
}

.types {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

/* Estilo para el select (lista desplegable) */
.types select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para las opciones del select */
.types option {
  font-size: 16px;
}